@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "poppins", sans-serif;
}
a {
    text-decoration: none;
}    
.home {
    position: relative;
    height: 100vh;
    width: 100%;
    background-image: url("https://cdn.discordapp.com/attachments/1334623197504475160/1367556306906644650/IMG_4110.JPG?ex=6815038f&is=6813b20f&hm=05e443277d979ca437cb6e40b9a08eb7d78c6264d6f28cab6cb799d8653e26f8&");
    background-size: cover;
    background-position: center;
    z-index: 1;
}

.calc {
 position: absolute;
 z-index: 2;
 bottom: 350px;
 right:150px;
 transform: translate(50px, 50px);
 display: flex;
 flex-direction: column;
 align-items: center;
 justify-content: flex-start;
}
input {
    vertical-align: bottom;
}